@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

.bg-universe {
  background-image:url('./assets/stars.svg');
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
